.left-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc(30% - 20px);
	background-color: var(--bg-default-color);
	padding: 10px;
	border-radius: 10px;
	box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.2);
}

.center-container {
	display: flex;
	flex-direction: column;
	width: calc(50% - 20px);
	padding-inline: 20px;
	height: 100%;
}

.tile {
	padding-block: 20px;
	padding-inline: 30px;
	box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.2);
}

.center-container .tile {
	width: calc(100% - 60px);
	height: calc(50% - 50px);

	background-color: var(--bg-default-color);
	border-radius: 10px;
}

.center-container .tile h1 {
	font-size: 24px;
}

.right-container {
	display: flex;
	flex-direction: column;
	width: 30%;
}

#pfp-img-box {
	width: 90%;
	border-radius: 50%;
	margin-inline: auto;
}

.info-box {
	width: 95%;
	margin-top: 20px;
}

.info-box p {
	width: 100%;
	margin-top: 5px;
	padding-bottom: 5px;
	position: relative;
	font-weight: bold;
	border-bottom: 1px solid var(--default-color);
}

.info-box span {
	position: absolute;
	font-weight: normal;
	right: 0;
}

.latest-music {
	display: flex;
	flex-direction: column;
}

.mini-box {
	width: calc(100% - 60px);
	height: 12px;
	background-color: var(--bg-default-color);
	border-radius: 10px;
	justify-content: space-between;
	align-items: center;
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

.box {
	width: calc(100% - 60px);
	height: calc(60% - 40px);
	background-color: var(--bg-default-color);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

.box h1 {
	font-size: 24px;
}

.mini-box h2 {
	font-size: 18px;
}

#music-listen-div,
#status-div {
	margin-top: 10px;
	height: calc(100% - 40px);
	overflow-y: auto;
}

.music-line,
.status-line {
	width: calc(100% - 20px);
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid var(--default-color);
	overflow-y: auto;
}

#music-listen-div .music-line:last-child {
	border-bottom: none;
}

.music-line-info-user img,
.status-line-info-user img {
	height: 90%;
	border-radius: 50%;
}

.music-line-info-user,
.status-line-info-user {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.music-line-info-user p,
.status-line-info-user p {
	margin-right: 10px;
}

.music-line-info-music,
.status-line-info {
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-items: center;
}
